sigo-api-erp/src/main/resources/wsdl/gestaoprocessosindustriais.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://indtextbr.com.br/services/gestaoprocessosindustriais/entity" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://indtextbr.com.br/services/gestaoprocessosindustriais/entity" targetNamespace="http://indtextbr.com.br/services/gestaoprocessosindustriais/entity">
<wsdl:types>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://indtextbr.com.br/services/gestaoprocessosindustriais/entity">
<xs:element name="getSetorIndustrialRequest">
<xs:complexType> </xs:complexType>
</xs:element>
<xs:element name="getSetorIndustrialByIdRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="getSetorIndustrialResponse">
<xs:complexType>
<xs:sequence>
<xs:element maxOccurs="unbounded" minOccurs="0" name="lista" nillable="true" type="tns:setorIndustrial"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="insertSetorIndustrialRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="setorIndustrial" type="tns:setorIndustrial"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="SetorIndustrialResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="setorIndustrial" type="tns:setorIndustrial"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="updateSetorIndustrialRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="setorIndustrial" type="tns:setorIndustrial"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="updateSetorIndustrialResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="mensagem" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="insertSetorIndustrialResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="mensagem" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="deleteSetorIndustrialRequest">
<xs:complexType>
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:element name="deleteSetorIndustrialResponse">
<xs:complexType>
<xs:sequence>
<xs:element name="mensagem" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:element>
<xs:complexType name="setorIndustrial">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
<xs:element name="nome" type="xs:string"/>
<xs:element maxOccurs="unbounded" minOccurs="0" name="listaAtividades" nillable="true" type="tns:atividadeIndustrial"/>
</xs:sequence>
</xs:complexType>
<xs:complexType name="atividadeIndustrial">
<xs:sequence>
<xs:element name="codigoSetorIndustrial" type="xs:int"/>
<xs:element name="id" type="xs:int"/>
<xs:element name="nome" type="xs:string"/>
<xs:element name="executaSegunda" type="xs:string"/>
<xs:element name="executaTerca" type="xs:string"/>
<xs:element name="executaQuarta" type="xs:string"/>
<xs:element name="executaQuinta" type="xs:string"/>
<xs:element name="executaSexta" type="xs:string"/>
<xs:element name="executaSabado" type="xs:string"/>
<xs:element name="executaDomingo" type="xs:string"/>
</xs:sequence>
</xs:complexType>
</xs:schema>
</wsdl:types>
<wsdl:message name="getSetorIndustrialByIdRequest">
<wsdl:part element="tns:getSetorIndustrialByIdRequest" name="getSetorIndustrialByIdRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getSetorIndustrialRequest">
<wsdl:part element="tns:getSetorIndustrialRequest" name="getSetorIndustrialRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="insertSetorIndustrialRequest">
<wsdl:part element="tns:insertSetorIndustrialRequest" name="insertSetorIndustrialRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="insertSetorIndustrialResponse">
<wsdl:part element="tns:insertSetorIndustrialResponse" name="insertSetorIndustrialResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="SetorIndustrialResponse">
<wsdl:part element="tns:SetorIndustrialResponse" name="SetorIndustrialResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="updateSetorIndustrialRequest">
<wsdl:part element="tns:updateSetorIndustrialRequest" name="updateSetorIndustrialRequest"> </wsdl:part>
</wsdl:message>
<wsdl:message name="updateSetorIndustrialResponse">
<wsdl:part element="tns:updateSetorIndustrialResponse" name="updateSetorIndustrialResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="getSetorIndustrialResponse">
<wsdl:part element="tns:getSetorIndustrialResponse" name="getSetorIndustrialResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="deleteSetorIndustrialResponse">
<wsdl:part element="tns:deleteSetorIndustrialResponse" name="deleteSetorIndustrialResponse"> </wsdl:part>
</wsdl:message>
<wsdl:message name="deleteSetorIndustrialRequest">
<wsdl:part element="tns:deleteSetorIndustrialRequest" name="deleteSetorIndustrialRequest"> </wsdl:part>
</wsdl:message>
<wsdl:portType name="GestaoProcessosIndustriais">
<wsdl:operation name="getSetorIndustrialById">
<wsdl:input message="tns:getSetorIndustrialByIdRequest" name="getSetorIndustrialByIdRequest"> </wsdl:input>
</wsdl:operation>
<wsdl:operation name="getSetorIndustrial">
<wsdl:input message="tns:getSetorIndustrialRequest" name="getSetorIndustrialRequest"> </wsdl:input>
<wsdl:output message="tns:getSetorIndustrialResponse" name="getSetorIndustrialResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="insertSetorIndustrial">
<wsdl:input message="tns:insertSetorIndustrialRequest" name="insertSetorIndustrialRequest"> </wsdl:input>
<wsdl:output message="tns:insertSetorIndustrialResponse" name="insertSetorIndustrialResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="SetorIndustrial">
<wsdl:output message="tns:SetorIndustrialResponse" name="SetorIndustrialResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="updateSetorIndustrial">
<wsdl:input message="tns:updateSetorIndustrialRequest" name="updateSetorIndustrialRequest"> </wsdl:input>
<wsdl:output message="tns:updateSetorIndustrialResponse" name="updateSetorIndustrialResponse"> </wsdl:output>
</wsdl:operation>
<wsdl:operation name="deleteSetorIndustrial">
<wsdl:input message="tns:deleteSetorIndustrialRequest" name="deleteSetorIndustrialRequest"> </wsdl:input>
<wsdl:output message="tns:deleteSetorIndustrialResponse" name="deleteSetorIndustrialResponse"> </wsdl:output>
</wsdl:operation>
</wsdl:portType>
<wsdl:binding name="GestaoProcessosIndustriaisSoap11" type="tns:GestaoProcessosIndustriais">
<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
<wsdl:operation name="getSetorIndustrialById">
<soap:operation soapAction=""/>
<wsdl:input name="getSetorIndustrialByIdRequest">
<soap:body use="literal"/>
</wsdl:input>
</wsdl:operation>
<wsdl:operation name="getSetorIndustrial">
<soap:operation soapAction=""/>
<wsdl:input name="getSetorIndustrialRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="getSetorIndustrialResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="insertSetorIndustrial">
<soap:operation soapAction=""/>
<wsdl:input name="insertSetorIndustrialRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="insertSetorIndustrialResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="SetorIndustrial">
<soap:operation soapAction=""/>
<wsdl:output name="SetorIndustrialResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="updateSetorIndustrial">
<soap:operation soapAction=""/>
<wsdl:input name="updateSetorIndustrialRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="updateSetorIndustrialResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
<wsdl:operation name="deleteSetorIndustrial">
<soap:operation soapAction=""/>
<wsdl:input name="deleteSetorIndustrialRequest">
<soap:body use="literal"/>
</wsdl:input>
<wsdl:output name="deleteSetorIndustrialResponse">
<soap:body use="literal"/>
</wsdl:output>
</wsdl:operation>
</wsdl:binding>
<wsdl:service name="GestaoProcessosIndustriaisService">
<wsdl:port binding="tns:GestaoProcessosIndustriaisSoap11" name="GestaoProcessosIndustriaisSoap11">
<soap:address location="http://localhost:8002/ws"/>
</wsdl:port>
</wsdl:service>
</wsdl:definitions>